.blog-item {
  border: 1xp solid #d3d3d3;
  border-radius: 5px;
  margin: 15px;
  list-style-type: none;
}

.blog-item-link {
  color: #000000;
  text-decoration: none;
}

.blog-item-container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.blog-item-image {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 170px;
}

.blog-item-info {
  font-family: 'Roboto';
  width: 100%;
}

.blog-item-topic {
  font-size: 14px;
  color: #8e8e8e;
}

.blog-item-title {
  font-size: 18px;
  font-weight: 400;
}

.author-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author-name {
  font-size: 14px;
  color: #8e8e8e;
}

.avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
